{
  "name": "default",
  "type": "mysql",
  "host": "localhost",
  "port": 3306,
  "username": "username",
  "password": "password",
  "database": "databaase",
  "synchronize": true,
  "dropSchema": false,
  "logging": true,
  "bigNumberStrings": false,
  "charset": "utf8mb4",
  "entities": [
    "src/entities/*.ts"
  ],
  "subscribers": [
    "src/subscriber/*.js"
  ],
  "migrations": [
    "src/migration/*.js"
  ],
  "cli": {
    "entitiesDir": "src/entity",
    "migrationsDir": "src/migration",
    "subscribersDir": "src/subscriber"
  }
}
